@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;800&family=Montserrat:wght@300;400;500;600;700;800&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

* {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 1246px;
  padding: 0 15px;
  margin: 0 auto;
}

a {
  font-weight: 500;
  font-size: 18px;
  line-height: 80px;
  color: #fff;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 80px;
  color: #1178b2;
}

.header {
  background: url("../img/header-bg.jpg") center center no-repeat;
  background-size: cover;
  background-position-x: inherit;
  min-height: 100vh;
}

.header-nav {
  padding: 33px 0 80px;
}

.header-nav__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 52px;
}

.header-nav__sign-in {
  background: #07af91;
  border-radius: 10px;
  padding: 0 45px;
}

.header-body {
  padding: 80px 0 300px;
}

.header-body__title {
  max-width: 780px;
  font-weight: 700;
  font-size: 43px;
  line-height: 60px;
  text-transform: uppercase;
  color: #fff;
}

.header-body__title span {
  display: block;
  background: #07af91;
  border-radius: 3px;
}

.header-body__subtitle {
  font-size: 34px;
  line-height: 80px;
  color: #fff;
  margin-bottom: 34px;
}

.header-body__submit {
  font-weight: 600;
  font-size: 20px;
  line-height: 80px;
  background: linear-gradient(276.41deg, #016ca8 -7%, #61b5e4 77.16%);
  border-radius: 10px;
  padding: 30px 32px;
}

.service {
  padding: 89px 0 50px;
}

.service__title {
  margin-bottom: 110px;
}

.service__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 184px 0px;
}

.service__info {
  max-width: 701px;
  width: 100%;
}

.service__info:nth-child(1) {
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}

.service__info:nth-child(2) {
  -webkit-transform: translateY(35px);
          transform: translateY(35px);
}

.service__subtitle {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #1178b2;
}

.service__subtitle--first {
  margin-bottom: 25px;
}

.service__subtitle--second {
  margin-bottom: 15px;
}

.service__text {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: #000;
  margin-bottom: 20px;
}

.service__link {
  background: #07af91;
  border-radius: 10px;
  padding: 25px 74px;
  font-weight: 600;
}

.who-we {
  padding: 50px 0 100px;
}

.who-we__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 20px;
}

.who-we__item {
  max-width: 392px;
  width: 100%;
  min-height: 348px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.who-we__number {
  font-weight: 800;
  font-size: 80px;
  line-height: 20px;
  color: rgba(17, 120, 178, 0.5);
}

.who-we__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #000;
  margin: 61px auto 15px;
}

.who-we__text {
  max-width: 331px;
  width: 100%;
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #000;
  margin: 0 auto;
  text-align: center;
}

.consult {
  background: url("../img/consult/bg.png") center center no-repeat;
  background-size: cover;
  padding: 134px 0 172px;
}

.consult__title {
  max-width: 1393px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background: #07af91;
  border-radius: 3px;
}

.consult__subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 60px;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

.consult__link {
  display: block;
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: linear-gradient(276.41deg, #016ca8 -7%, #61b5e4 77.16%);
  border-radius: 10px;
  font-weight: 600;
  font-size: 20px;
  line-height: 80px;
  color: #fff;
  padding: 0px 38px;
}

.market {
  padding: 100px 0 50px;
}

.market__title {
  margin-bottom: 35px;
}

.market__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 56px;
}

.market__item {
  max-width: 100%;
  width: 100%;
  background: #eef1f4;
  font-weight: 400;
  font-size: 20px;
  line-height: 60px;
  text-align: center;
  color: #484848;
}

.market__item--active {
  background: #88bbd8;
  border-radius: 5px;
  font-weight: 700;
  color: #fff;
}

.market__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.market__info {
  max-width: 345px;
  width: 100%;
}

.market__heading {
  font-weight: 600;
  font-size: 32px;
  line-height: 41px;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 29px;
}

.market__heading span {
  font-weight: 700;
  color: #07af91;
}

.market__city {
  font-size: 16px;
  line-height: 22px;
  color: #000;
  margin-bottom: 29px;
}

.market__out {
  background: linear-gradient(276.41deg, #016ca8 -7%, #61b5e4 77.16%);
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 80px;
  color: #fff;
  padding: 25px 46px;
  margin-bottom: 35px;
}

.market__people {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(10px 62px) minmax(20px 149px);
      grid-template-columns: minmax(10px 62px) minmax(20px 149px);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

.footer {
  background: url("../img/footer-bg.jpg") center center no-repeat;
  background-size: cover;
  padding: 15px 0;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo span {
  display: block;
  font-weight: 300;
  font-size: 14px;
  line-height: 80px;
  color: #fff;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 52px;
}

.footer__text {
  max-width: 212px;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}

.footer__email {
  font-weight: 400;
  font-size: 14px;
  line-height: 60px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
/*# sourceMappingURL=style.css.map */