@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;800&family=Montserrat:wght@300;400;500;600;700;800&display=swap");
@import "vars";
@import "reset";
@import "global";
.header {
  background: url("../img/header-bg.jpg") center center no-repeat;
  background-size: cover;
  background-position-x: inherit;
  min-height: 100vh;
}
.header-nav {
  padding: 33px 0 80px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__menu {
    display: flex;
    align-items: center;
    gap: 0 52px;
  }
  &__sign-in {
    background: #07af91;
    border-radius: 10px;
    padding: 0 45px;
  }
}
.header-body {
  padding: 80px 0 300px;
  &__title {
    max-width: 780px;
    font-weight: 700;
    font-size: 43px;
    line-height: 60px;
    text-transform: uppercase;
    color: #fff;
    span {
      display: block;
      background: #07af91;
      border-radius: 3px;
    }
  }
  &__subtitle {
    font-size: 34px;
    line-height: 80px;
    color: #fff;
    margin-bottom: 34px;
  }
  &__submit {
    font-weight: 600;
    font-size: 20px;
    line-height: 80px;
    background: linear-gradient(276.41deg, #016ca8 -7%, #61b5e4 77.16%);
    border-radius: 10px;
    padding: 30px 32px;
  }
}
.service {
  padding: 89px 0 50px;
  &__title {
    margin-bottom: 110px;
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 184px 0px;
  }
  &__info {
    max-width: 701px;
    width: 100%;
    // background: palevioletred;
    &:nth-child(1) {
      transform: translateY(7px);
      // background: lawngreen;
    }
    &:nth-child(2) {
      transform: translateY(35px);
    }
  }
  &__subtitle {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #1178b2;
  }
  &__subtitle--first {
    margin-bottom: 25px;
  }
  &__subtitle--second {
    margin-bottom: 15px;
  }
  &__text {
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #000;
    margin-bottom: 20px;
  }
  &__link {
    background: #07af91;
    border-radius: 10px;
    padding: 25px 74px;
    font-weight: 600;
  }
}
.who-we {
  padding: 50px 0 100px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 20px;
  }
  &__item {
    max-width: 392px;
    width: 100%;
    min-height: 348px;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__number {
    font-weight: 800;
    font-size: 80px;
    line-height: 20px;
    color: rgba(17, 120, 178, 0.5);
  }
  &__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000;
    margin: 61px auto 15px;
  }
  &__text {
    max-width: 331px;
    width: 100%;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #000;
    margin: 0 auto;
    text-align: center;
  }
}
.consult {
  background: url("../img/consult/bg.png") center center no-repeat;
  background-size: cover;
  padding: 134px 0 172px;
  &__title {
    max-width: 1393px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background: #07af91;
    border-radius: 3px;
  }
  &__subtitle {
    font-weight: 500;
    font-size: 24px;
    line-height: 60px;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
  }
  &__link {
    display: block;
    margin: 0 auto;
    width: fit-content;
    background: linear-gradient(276.41deg, #016ca8 -7%, #61b5e4 77.16%);
    border-radius: 10px;
    font-weight: 600;
    font-size: 20px;
    line-height: 80px;
    color: #fff;
    padding: 0px 38px;
  }
}
.market {
  padding: 100px 0 50px;
  &__title {
    margin-bottom: 35px;
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 56px;
  }
  &__item {
    max-width: 100%;
    width: 100%;
    background: #eef1f4;
    font-weight: 400;
    font-size: 20px;
    line-height: 60px;
    text-align: center;
    color: #484848;
  }
  &__item--active {
    background: #88bbd8;
    border-radius: 5px;
    font-weight: 700;
    color: #fff;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    background: url("../img/market/market.svg") no-repeat;
    background-position-x: left;
    background-size: contain;
  }
  &__info {
    max-width: 345px;
    width: 100%;
  }
  &__heading {
    font-weight: 600;
    font-size: 32px;
    line-height: 41px;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 29px;
    span {
      font-weight: 700;
      color: #07af91;
    }
  }
  &__city {
    font-size: 16px;
    line-height: 22px;
    color: #000;
    margin-bottom: 29px;
  }
  &__out {
    background: linear-gradient(276.41deg, #016ca8 -7%, #61b5e4 77.16%);
    border-radius: 10px;
    font-weight: 600;
    font-size: 18px;
    line-height: 80px;
    color: #fff;
    padding: 25px 46px;
  }
  &__people {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    column-gap: 10px;
    margin-top: 35px;
    img {
      width: 62px;
      height: 62px;
      border-radius: 50%;
    }
    span {
      grid-column: 2 / 5;
      font-size: 14px;
      color: #727272;
    }
  }
  &__people-name {
    grid-column: 2 / 5;
    font-weight: 500;
    font-size: 16px;
    line-height: 60px;
    color: #000;
  }
  &__invest {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  &__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    max-width: 289px;
    width: 100%;
    min-height: 200px;
  }
  &__number {
    font-weight: 800;
    font-size: 48px;
    line-height: 20px;
    color: rgba(17, 120, 178, 0.5);
    margin-bottom: 30px;
    span {
      font-size: 24px;
      line-height: 20px;
    }
  }
  &__text {
    font-size: 16px;
    line-height: 20px;
    color: rgba(16, 16, 16, 0.5);
  }
}
.it-bisness {
  padding: 50px 0;
  &__title {
    margin-bottom: 15px;
  }
  &__text {
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #000;
    margin-bottom: 20px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    max-width: 392px;
    width: 100%;
    min-height: 284px;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      margin-bottom: 30px;
    }
    span {
      display: block;
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 120px;
      line-height: 145px;
      text-align: center;
      background: linear-gradient(143.71deg, #8bd7dc 21.17%, #1246a9 127.82%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      // text-fill-color: transparent;
    }
    p {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      color: #232323;
    }
  }
}
.info {
  background: url("../img/info/bg.png") center center no-repeat;
  background-size: cover;
  padding: 59px 0 64px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__content {
    max-width: 598px;
    width: 100%;
  }
  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #fff;
    margin-bottom: 17px;
  }
  &__text {
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    margin-bottom: 16px;
  }
  &__link {
    font-weight: 600;
    font-size: 18px;
    line-height: 80px;
    color: #fff;
    background: #07af91;
    border-radius: 10px;
    padding: 20px 36px;
  }
}
.footer {
  background: url("../img/footer-bg.jpg") center center no-repeat;
  background-size: cover;
  padding: 15px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    span {
      display: block;
      font-weight: 300;
      font-size: 14px;
      line-height: 80px;
      color: #fff;
    }
  }
  &__list {
    display: flex;
    align-items: center;
    gap: 0 52px;
  }
  &__text {
    max-width: 212px;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
  }
  &__email {
    font-weight: 400;
    font-size: 14px;
    line-height: 60px;
    text-decoration-line: underline;
  }
}
@import "media";
